

ul {
    list-style-type: none;
    margin: 1%;/*distanza tra barra e inzio pagina, si può fare in px o %*/
    padding: 1%;/*distanza tra contenuto e bordo barra, si può fare in px o %*/
    overflow: hidden;
    height: 95px;/*altezza barra menu*/
    width: 100%;
    background-color: #0C4270;/*colore barra menu*/
  }
  
  li {
    float: left;
    width: 75px;
    /*
    questo è l'orientamento
    left = da sinistra verso destra
    right = da destra verso sinistra
    center = dall'alto verso il basso
    */
  }
  
  li a {
    display: block;
    color: white; /*colore bookmark*/
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0067B1;
    /*colore bookmark quando attivo (il mouse è sopra)*/
  }
  /* 
  COLORI
  azzurro chiaro:#0BBBEF
  azzurro scuro:#1488CA
  blu chiaro:#0067B1
  blu scuro:#0C4270 
  */
  
  /* CORPO */
  body {
      font-family: "Tahoma", sans-serif;
      background-color: #1488CA;
  }
  /* TITOLI */
  h1 {
      color: #0C4270;
      text-align: center;
  }
  /* PARAGRAFI */
  p {
      color: #0BBBEF;
      text-align: center;
      font-size: 20px;
  }