/*
	COLORI LOGO:
	- Blu: 		#0C4270;
	- Giallo: 	#FDC400;
	- Grigio: 	#2A2E3A;
*/

/*STILE CORPO*/
body{
	box-sizing: border-box;
	background-color: #2A2E3A;	/*Colore Sfondo*/
	color: white;				/*Colore Caratteri*/
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding-top: 10px;
	text-align: left;
}

/*STILE H1*/
h1{
	color: #FDC400;
}

/*STILE LINK*/
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #FDC400;
}
a:visited{
	color: white;
}

/*MENU LATERALE*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 				/*Altezza 50% del viewport(schermo)*/
	position: fixed;
    overflow-y: auto;
	top: 25%;					/*Posizione del menu*/
}
.sidebar {
    background-color: #0C4270;
    color: #FDC400;
    width: 105px;
    padding: 10px;
	border: 1px solid #ddd;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: #FDC400;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: #2A2E3A;
}

/*CORPO*/
#content{
	flex: 1;
    padding: 20px;
	margin-top: 20px;			/* Distanza dall'alto */
	margin-bottom: 20px;		/* Distanza dal basso */
    margin-left: 135px; 		/* Distanza dal menu */
	margin-right: 20px;			/* Distanza da destra */
    height: 85vh; 				/* Altezza del contenuto al 90% della viewport height */
    overflow-y: auto; 			/* Aggiungi uno scroller se necessario */
	border: 1px solid #ddd;
	background-color: #0C4270;
}

