/*
	COLORI LOGO:
	- Blu: 		#00568A;
	- Giallo: 	#FBBA00;
	- Sfondo: 	#051118;
	- Bianco: 	#FFFFFF;
	
	CSS HEX 
	- syracuse-red-orange: #df3901ff;
	- prussian-blue: #1d3449ff;
	- selective-yellow: #fbba00ff;
	- lapis-lazuli: #00568aff;
	- rich-black: #051118ff;

	CSS HSL
	- syracuse-red-orange: hsla(15, 99%, 44%, 1);
	- prussian-blue: hsla(209, 43%, 20%, 1);
	- selective-yellow: hsla(44, 100%, 49%, 1);
	- lapis-lazuli: hsla(203, 100%, 27%, 1);
	- rich-black: hsla(202, 66%, 6%, 1);

	SCSS HEX 
	- $syracuse-red-orange: #df3901ff;
	- $prussian-blue: #1d3449ff;
	- $selective-yellow: #fbba00ff;
	- $lapis-lazuli: #00568aff;
	- $rich-black: #051118ff;

	SCSS HSL
	- $syracuse-red-orange: hsla(15, 99%, 44%, 1);
	- $prussian-blue: hsla(209, 43%, 20%, 1);
	- $selective-yellow: hsla(44, 100%, 49%, 1);
	- $lapis-lazuli: hsla(203, 100%, 27%, 1);
	- $rich-black: hsla(202, 66%, 6%, 1);

	SCSS RGB
	- $syracuse-red-orange: rgba(223, 57, 1, 1);
	- $prussian-blue: rgba(29, 52, 73, 1);
	- $selective-yellow: rgba(251, 186, 0, 1);
	- $lapis-lazuli: rgba(0, 86, 138, 1);
	- $rich-black: rgba(5, 17, 24, 1);

	SCSS Gradient
	- $gradient-top: linear-gradient(0deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-right: linear-gradient(90deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-bottom: linear-gradient(180deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-left: linear-gradient(270deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-top-right: linear-gradient(45deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-bottom-right: linear-gradient(135deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-top-left: linear-gradient(225deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-bottom-left: linear-gradient(315deg, #df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
	- $gradient-radial: radial-gradient(#df3901ff, #1d3449ff, #fbba00ff, #00568aff, #051118ff);
*/

/*STILE CORPO*/
body{
	box-sizing: border-box;
	/*background-color: #051118;	Colore Sfondo*/
	color: white;				/*Colore Caratteri*/
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding-top: 10px;
	text-align: left;
	
	background: linear-gradient(-45deg, #1d3449ff, #df3901ff, #00568aff, #051118ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
/*ANIMAZIONE BACKGROUND*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*STILE TITOLI*/
h1{
	color: #fbba00ff;
}

/*STILE LINK*/
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #fbba00ff;
}
a:visited{
	color: white;
}

/*MENU LATERALE*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 				/*Altezza 50% del viewport(schermo)*/
	position: fixed;
    overflow-y: auto;
	top: 25%;					/*Posizione del menu*/
}
.sidebar {
    /*background-color: #00568A;
	border: 1px solid #ddd;*/
    color: #FDC400;
    width: 105px;
    padding: 10px;
	
	border-radius: 20px;
	
	backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    border:1px solid rgba(255, 255, 255, 0.18);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: #FDC400;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: #FFFFFF;
}

/*ICONE*/
.icon{
	
}

/*SCROLLBAR NASCOSTO MA FUNZIONANTE PER CHROME, SAFARI, OPERA*/
body::-webkit-Scrollbar{
	display: none;
}
#about::-webkit-Scrollbar{
	display: none;
}
/*SCROLLBAR NASCOSTO MA FUNZIONANTE PER FIREFOX*/
html{
	scrollbar-width: none;
}
#content::-webkit-Scrollbar{
	scrollbar-width: none;
}
/*SCROLLBAR NASCOSTO MA FUNZIONANTE PER EDGE, IE*/
body,{
	-ms-overflow-style: no;
}

/*CORPO*/
#content{
	flex: 1;
    padding: 20px;
	margin-top: 20px;			/* Distanza dall'alto */
	margin-bottom: 20px;		/* Distanza dal basso */
    margin-left: 135px; 		/* Distanza dal menu */
	margin-right: 20px;			/* Distanza da destra */
    height: 85vh; 				/* Altezza del contenuto al 90% della viewport height */
    overflow-y: auto; 			/* Aggiungi uno scroller se necessario */
	/*border: 1px solid #ddd;
	background-color: #00568A;*/
	border-radius: 20px;
	
	backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(30px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/*GALLLERIA 2D
img {
	max-width: 100%;
	vertical-align: top;
}
.gallery {
	display: flex;
	margin: 10px auto;
	max-width: 600px;
	position: relative;
	padding-top: 66.6666666667%;
	justify-content: center;
}
@media screen and (min-width: 600px) {
	.gallery {
		padding-top: 400px;
	}
}
.gallery__img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
	padding-top: 6px;
	margin: 6px;
	display: block;
}
.gallery__selector {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.gallery__selector:checked + .gallery__img {
	opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
	box-shadow: 0 0 0 3px #0be2f6;
}
.responsive {
	max-width: 100%;
	height: auto;
}
*/
